
@media only screen and (min-width: 320px){
  .user-data__actions{
    left: 0;
    top: 60px;
    display: flex;
  }
  .descriptions{
    width: 90vw;
  }
  .toggle{
    margin-top: 20px;
    width: 100%;
    z-index: 55;
  }
  .head{
    justify-content: space-around;
  }
  .content__characteristics{
    width: 90vw;
  }
}
@media only screen and (min-width: 480px){
  .toggle{
    margin-top: 0;
    width: 20%;
  }
  .head{
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px){


}
@media only screen and (min-width: 992px) {
  .toggle{
    display: none;
  }
  .user-data{
    opacity: 1;
    max-width: 380px;
    min-width: 380px;
  }
  .user-data__actions{
   opacity: 0;
    top: 0;
    left: 380px;
  }
  .content_page__characteristics{
    width: 35vw;
  }
  .descriptions{
    width: 40vw;
  }
}
@media only screen and (min-width: 1200px) {
  .content_page{
    justify-content: center;
  }
}