$m-blue-color: #00b3be;
$m-color-lightGrin: #91d763;
$m-text-color: white;
$gray: #4a4a4a;
$width: 1440px;

@import "font";
html{
  font-size: 16px;
}
html,body{
  min-height: 100%;
  margin: 0;
}

.container{
  padding: 5rem 1rem 5rem 1rem ;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
.wrapper:after{
  content: '';
  height: 60px;
}
.size_by_product{
  width: 22.2vw;
  min-width: 200px;
  overflow: hidden;
}


p, ul{
  margin: 0;
  padding: 0;
}

.head{
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__logo{
    padding-left: 3%;
    padding-top: 10px;
   /* transition: all 1s ease-out;*/
    transition: all 1s 0.1s ease-in;
  }
  &__logo--cursor{
    cursor: pointer;
  }

  &__logo--size{
    width: 115px;
    height: 40px;
  }
  &__logo:hover{
   /* transform: scale(.9);*/
    transform: rotate(360deg);
  }
}
.toggle{
  width: 20%;
  background: $m-blue-color ;
  display: flex;
  justify-content: flex-end;

  &__button{
    display: block;
    color: $m-text-color !important;
    font-size: 26px;
    padding-right: 20px;
    line-height: 60px;
  }

}
.search{
  flex-basis: 40%;
  display: flex;
  position: relative;
  height: 50px;

  &__input{
    border: none;
    width: 80%;
    outline: none;
    padding-left: 20px;
  }
  &__input--border{
    border-bottom: 1px solid $m-blue-color;
  }
  &__icon{
    position: absolute;
    line-height: 50px !important;
  }
}
.search:hover,.search:focus{
  border: none;
}

.user-data{
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: $m-blue-color;
  position: relative;
  cursor: pointer;
  display: flex;
  opacity: 0;
  transition: all 1s ease-out;

  &__block{
    display: flex;
    width: 200px;
    align-items: center;
  }
  &__img{
    margin-left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 1s ease-out;
  }
  &__img:hover{
    transform: scale(1.1);
  }

  &__name{
    color: $m-text-color;
    font: bold 16px Arial, Verdana;
    margin-left: 10px;
    transition: .4s ease-out;
    text-decoration: none !important;
  }
  &__name:hover{
    color: $gray;
  }
  &__logout{
    margin-right: 20px;
    color: $m-text-color;
    font-size: 24px !important;
    transition: .4s ease-out;
  }
  &__logout:hover{
    color: $gray;
  }

  &__actions{
   /* display: none;*/
   /* left: 380px;*/
    background: $m-blue-color;
    width: 100%;
    height:100%;
    position: absolute;

    z-index: 5;
    transition: .5s ease-out;
  }
  &__actions > a{
    font: 16px Myriad;
    color: $m-text-color;
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: .2s ease-out;
  }
  &__actions > a:hover,&__actions > a:focus{
    background: darken($m-blue-color, 4%);
    border-left: 5px solid $gray;
    font-size: 20px;
    text-decoration: none;
  }
}
.user-data:before{
  content: '';
  position: absolute;
  height: 100%;
  border-left: 5px solid $m-blue-color;
  transition: 1s ease-out;
}
.user-data:hover.user-data:before{
  border-color: $gray;
}

.user-data:hover .user-data__actions{
  top: 60px;
  left: 0;
  opacity: 1 !important;
}

.content{
  @extend .container;
}

.product{
 @extend .size_by_product;
  margin: 0 .3rem 1.5rem .3rem;


  &__link{
    @extend .size_by_product;
    display: block;
  }

  &__image{
    @extend .size_by_product;
    transition: all 1s ease-out;
  }
  &__image:hover{
    transform: scale(1.1);
  }
  &__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: $m-blue-color;
    transition: .4s ease-out;
  }
  &__details:hover{
    background: darken($m-blue-color, 10%);
  }
  &__tittle{
    font: bold 18px Arial, Verdana;
    color: $m-text-color;
    padding-left: 15px;
  }
  &__more{
    margin-right: 15px;
    font-size: 20px;
    color: $m-text-color;
    transition: .4s ease-out;
  }
  &__more:hover{
    color: lighten(#A6FFAC, 5%);
  }
  &__more:focus{
    color: #dadada;
  }
}
footer{
  margin-top: -60px;
}
.footer{
  width: 100%;
  height: 60px;
  background: $m-blue-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text{
    font: bold 16px Arial;
    color: $m-text-color;
    text-align: center;
  }
}

@import "single-page";

@import "media";
.visible_opacity{
  opacity: 0;
}
.show{
 opacity: 1 ;
}
.hidden{
  display: none;
}